@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

:root {
  /* Border Size */
  --radius: 20px;

  --gray: #f1f1f1;

  /* padding default */
  --padding-header: 2rem 0;

  --box-shadow: 5px 5px 60px rgb(235, 235, 235),
    -5px -5px 60px rgb(237, 237, 237);
}

#navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--gray);
  border-radius: 24px 24px 0 0;
  gap: 4rem;
  z-index: 1000;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.nav-items i {
  font-size: 1.5rem;
}

/* Home Section */
#welcome {
  min-height: 100dvh;
  position: relative;
  width: 100vw;
  background: url(../img/walls.png);
  backdrop-filter: brightness(0.5);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 0;
}

#welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
  z-index: 1;
}

#welcome > * {
  position: relative;
  z-index: 2;
}

.logo-welcome {
  width: 100%;
}

.btn1 {
  padding: 1rem 2rem;
  background: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  border-radius: var(--radius);
}

/* Home */
#home {
  position: relative;
  min-height: 100dvh;
  width: 100vw;
  padding: 0 2rem;
  padding-bottom: 10rem;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-header);
}

.logo {
  width: 60px;
}

.top-header-text {
    margin-top: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar i {
  font-size: 2rem;
  color: #878686;
  position: absolute;
  left: 50px;
}

.search-bar input {
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 30px;
  border: none;
  background: var(--gray);
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-header);
}

.category-card p {
  text-align: center;
  margin-top: 1.2px;
  font-size: 0.7rem;
  color: #868585;
}

.category-card-img {
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-radius: var(--radius);
}

.category-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo-card {
  background: linear-gradient(108.78deg, #c7a07a 37.31%, #d9d9d9 91.51%);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-content h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #fffbfb;
}

.promo-content h1 {
  font-size: 1.2rem;
  color: #fffbfb;
}

.promo-content p {
  font-size: 0.9rem;
  color: #fffbfb;
}

.promo-image {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: var(--radius);
}

.promo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-container {
  margin-top: 0.7rem;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.popular-card {
  position: relative;
}

.popular-card-img {
  overflow: hidden;
  width: 150px;
  height: 200px;
  border-radius: var(--radius);
  transition: transform 0.6s ease;
}

.popular-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease; /* Add transition to the image */
}

.popular-card:hover .popular-card-img img {
  transform: scale(1.1); /* Scale the image on hover */
}

.text-wrapper {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: var(--radius);
  padding: 1rem;
  color: white; 
  text-align: center; 
  transition: transform 0.6s ease;
  transition: top 0.6s ease, opacity 0.6s ease; /* Add transition for top and opacity */
}

.popular-card:hover .text-wrapper {
    top: 0;
    bottom: auto; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .popular-card i{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2rem;
    color: white;
    transition: transform 0.6s ease;
  }

  .popular-card:hover .popular-card i{
    transform: rotate(180deg);
  }

  .price-card{
    color: #C9AA05;
    font-weight: 600;
  }